<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스페이스 슈팅</title>
    <style>
        body {
            background-image:url("/static/shootingApp/images/space.png");
            background-repeat: no-repeat;
            /* background-size:cover; */
        }
    </style>

    
    <style>
        .game-text {
            position: absolute;
            width: 400px;
            background-color: rgb(8, 4, 84);
            font-size: 45px;
            color: rgb(255, 255, 255);
            text-shadow: 1px 1px rgba(255, 0, 234, 0.956);
            display: none;
        }
        [for=username],[for=temptime],[for=tempdate]{
            font-size: 20px;
            margin-left: 5px;
        }
    </style>
</head>
<style>
    button {
      display: inline-block;
      padding: 10px 40px;
      font-size: 20px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #1a056f;
      border: none;
      border-radius: 40px;
      box-shadow: 0 9px #999;
    }
    
    button:hover {background-color: #670ab4}
    
    button:active {
      background-color: #1a056f;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
</style>
    
    
<body>
    <center>
    <canvas id="canvas"></canvas>
    <br>
    <button id="start"> play </button>
    <button id="pause"> pause </button>
    <button id="restart"> retry </button>
    <br>
    </center>

    <form class="game-text" method=POST action="/shootingApp/insert/">
        <div style="text-align: center;">내 랭킹 등록하기</div>
        <label for="username">이름</label>
        <input type="text" name="username" id="username" required><br>
        <label for="temptime">점수</label>
        <input type="text" name="temptime" id="temptime" readonly><br>
        <label for="tempdate">랭킹 등록 날짜</label>
        <input type="datetime-local" name="tempdate" id="tempdate" readonly><br>
        <input type="submit" value="등록"
        style="float: right;
        margin-left: 200px;
        /* margin: 20px 20px 20px 0px; */
        width: 50px; height: 30px;">
        {% csrf_token %}
    </form>

    <script>

        let state = 0; //0:첫시작, 1:게임중, 2:게임오버
        let isCreateMob = false;
        let isPause = false;
        let interval;

         // 캔버스 세팅
        let canvas;
        let ctx;
        canvas = document.querySelector("canvas")
        ctx = canvas.getContext("2d")
        canvas.width = 400;
        canvas.height = 800;

        document.querySelector("#start").addEventListener("click",()=>{
            if(state == 0){
                state = 1;
                isCreateMob=true;
            }else if(state == 2){
                missileList = [];
                enemyList = [];
                gameover = false;
                state = 0;
                clearInterval(interval);
                score = 0;
                speed = 1;
                state = 1;
                isCreateMob = true;
            }
            
        });
        document.querySelector("#pause").addEventListener("click",()=>{
            
            if (isPause==true&&state==1){
                createEnemy();
                isPause = false;
            }else if (isPause==false&&state==1){
                clearInterval(interval);
                isPause = true;
            }
            console.log(state);
        });
        document.querySelector("#restart").addEventListener("click",()=>{
            if(state == 2){
                missileList = [];
                enemyList = [];
                gameover = false;
                state = 0;
                clearInterval(interval);
                score = 0;
                speed = 1;
                console.log(state);
                state = 1;
                isCreateMob = true;
            }
            
        });

        let backgroundImage, enemyImage, fighterImage, gameoverImage, missileImage;
        let fighterX = canvas.width / 2 - 32                                      //우주선 좌표
        let fighterY = canvas.height - 64

        let missileList = []  //총알들을 저장하는 리스트

        let gameover = false; //true면 gameover false 면 not gameover
        let score = 0; //점수판
        let speed = 1;
        

        function Missile() {
            this.x = 0;
            this.y = 0;
            this.init = function () {
                this.x = fighterX + 16;
                this.y = fighterY
                this.alive = true               //true 살아있는 총알 false 죽은 총알
                missileList.push(this)         //this 에 push
            }
            this.update = function () {        //총알의 y 좌표
                this.y -= 7;                 //총알의 속도 조절
            };

            this.checkHit = function () {

                for (let i = 0; i < enemyList.length; i++) {
                    if (
                        this.y <= enemyList[i].y &&
                        this.x >= enemyList[i].x &&
                        this.x <= enemyList[i].x + 40
                    ) {
                        score++;
                        this.alive = false //죽은 총알
                        enemyList.splice(i, 1);
                    }

                }
            };
        }

        function generateRandomValue(min, max) {
            let randomNum = Math.floor(Math.random() * (max - min + 1)) + min
            return randomNum
        }

        let enemyList = []                                              //적군의 리스트
        function Enemy() {
            this.x = 0;
            this.y = 0;
            this.init = function () {
                this.y = 0;
                this.x = generateRandomValue(0, canvas.width - 64);     //적군의 랜덤 위치
                enemyList.push(this);
            }
            this.update = function () {
                this.y += speed;                                        //적군의 속도 조절

                if (this.y >= canvas.height - 32) {
                    gameover = true;
                }
            };
        }

        function loadImage() {                                                 //이미지 불러오기
            backgroundImage = new Image();
            backgroundImage.src = "/static/shootingApp/images/background.png";

            enemyImage = new Image();
            enemyImage.src = "/static/shootingApp/images/enemy.png";

            fighterImage = new Image();
            fighterImage.src = "/static/shootingApp/images/fighter.png";

            gameoverImage = new Image();
            gameoverImage.src = "/static/shootingApp/images/gameover.png";

            missileImage = new Image();
            missileImage.src = "/static/shootingApp/images/missile.png";

        }

        let keysDown = {}
        function setupKeyboardListener() {
            document.addEventListener("keydown", function (event) {       //키확인
                keysDown[event.keyCode] = true;
            });
            document.addEventListener("keyup", function (event) {
                delete keysDown[event.keyCode];

                if (event.keyCode == 32) {
                    createMissile()
                }
            });
        }

        function createMissile() {       //총알 생성
            let m = new Missile;
            m.init()
        }

        function createEnemy() {
            interval = setInterval(function () {
                let e = new Enemy()
                e.init()
            }, 1000)
        }

        function update() {
            if (39 in keysDown) {    // 오른쪽움직임
                fighterX += 5;
            }
            if (37 in keysDown) {
                fighterX -= 5;      // 왼쪽 움직임
            }

            if (fighterX <= 0) {               //왼쪽벽막기
                fighterX = 0;
            }
            if (fighterX >= canvas.width - 64) {  //오른쪽벽막기
                fighterX = canvas.width - 64;
            }
            for (let i = 0; i < missileList.length; i++) {
                if (missileList[i].alive) {
                    missileList[i].update();
                    missileList[i].checkHit();
                }
            }
            for (let i = 0; i < enemyList.length; i++) {
                enemyList[i].update();
            }
        }

        function render() {
            ctx.drawImage(backgroundImage, 0, 0, canvas.width, canvas.height);      //배경화면 그리기
            ctx.drawImage(fighterImage, fighterX, fighterY);                        //우주선 위치 랜더
            ctx.fillText(`점수:${score}점`, 20, 20);
            ctx.fillStyle = "white";
            ctx.font = "15px Arial";
            for (let i = 0; i < missileList.length; i++) {
                if (missileList[i].alive) {
                    ctx.drawImage(missileImage, missileList[i].x, missileList[i].y)       //리스트에 있는 총알 이미지를 랜더
                }

            }
            for (let i = 0; i < enemyList.length; i++) {
                ctx.drawImage(enemyImage, enemyList[i].x, enemyList[i].y);
            }
        }

        function speedUp (){
            speed+=0.001;
        }
        function main() {
            if(state == 0){
                render(); //그려주고
                requestAnimationFrame(main);
            }else if(state == 1){
                if(isPause == false){
                    if(isCreateMob == true){
                        createEnemy();
                        isCreateMob=false;
                    }
                    update();
                    render();
                    speedUp();
                    
                    if (gameover){
                        state = 2;
                        ctx.drawImage(gameoverImage, 10, 100, 380, 380);
                        document.querySelector(".game-text").style.display = "block";
                        document.getElementById("temptime").value = score;
                        document.getElementById("tempdate").value = new Date().toISOString().slice(0, 16);        
                    }
                    
                }
                requestAnimationFrame(main);
            }else if(state == 2){
                requestAnimationFrame(main);
            }

        }

        loadImage();
        setupKeyboardListener();
        main();
    </script>
</body>

</html>